<div class="card cardGrid" *ngIf="currentUser" >
  <img class="profileImage" src='{{currentUser.avatar_url}}' alt="Profile picture of {{currentUser.name}}">
  <div class="card__content">
    <h3>{{ currentUser.name }}</h3>
    <h4>{{ currentUser.login }}</h4>
    <h3>Bio:</h3>
    <p>{{ currentUser.bio }}</p>
    <p class="githubLink"><a href="{{ currentUser.html_url }}" target="_blank">Visit GitHub!</a></p>
  </div> 
  <div></div>
  <div class="badges">
    <span class="badge badge__warning">following: {{currentUser.following}}</span>
    <span class="badge badge__success">followers: {{currentUser.followers }} </span>
  </div>
</div>